Import library

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler
from google.colab import files

Load the dataset

In [4]:
df = pd.read_csv("sales_financial.csv")

In [5]:
df.head()

,order_id,order_date,customer_id,product_id,product_category,region,channel,salesperson,quantity,unit_price,discount,unit_cost,sales_amount,total_cost,profit,tax,payment_type,is_returned,gross_revenue,margin_pct
0,ORD100000,31-01-2025,CUST1329,PROD290,Beauty,Central,Wholesale,SP_2,1,1922.47,0.00,1219.16,1922.47,1219.16,703.31,346.04,Wallet,0,2268.51,0.3658
1,ORD100001,10-05-2024,CUST1774,PROD329,Beauty,North,Partner,SP_18,3,782.02,0.00,453.68,2346.06,1361.04,985.02,117.30,Debit Card,0,2463.36,0.4199
2,ORD100002,18-07-2025,CUST1672,PROD362,Toys,North,Retail,SP_19,2,774.10,0.15,630.15,1315.97,1260.30,55.67,0.00,Credit Card,0,1315.97,0.0423
3,ORD100003,04-02-2025,CUST1150,PROD219,Sports,South,Wholesale,SP_8,3,684.07,0.00,554.21,2052.21,1662.63,389.58,369.40,Debit Card,0,2421.61,0.1898
4,ORD100004,31-12-2024,CUST1084,PROD209,Beauty,South,Retail,SP_3,3,1085.11,0.00,711.46,3255.33,2134.38,1120.95,162.77,Wallet,0,3418.10,0.3443

In [6]:
df.shape

(1200, 20)

Drop the duplicate

In [7]:
df = df.drop_duplicates()

In [8]:
print("Missing values:\n", df.isnull().sum())

Missing values:
 order_id            0
order_date          0
customer_id         0
product_id          0
product_category    0
region              0
channel             0
salesperson         0
quantity            0
unit_price          0
discount            0
unit_cost           0
sales_amount        0
total_cost          0
profit              0
tax                 0
payment_type        0
is_returned         0
gross_revenue       0
margin_pct          0
dtype: int64

In [9]:
for col in df.columns:
    if df[col].dtype in ['int64', 'float64']:
        df[col] = df[col].fillna(df[col].mean())
    else:
        df[col] = df[col].fillna(df[col].mode()[0])

Label Encoding

In [10]:
label_encoders = {}
for col in df.select_dtypes(include=['object']).columns:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    label_encoders[col] = le

Standardize the scaler

In [11]:
scaler = StandardScaler()
num_cols = df.select_dtypes(include=['int64', 'float64']).columns
df[num_cols] = scaler.fit_transform(df[num_cols])

Final file

In [12]:
output_file = "sales_financial_cleaned.csv"
df.to_csv(output_file, index=False)